body {
  margin: 40px 150px;
  font-family: sans-serif;
  font-size: 18px;
}

h1 {
  text-transform: uppercase;
  font-size: 48px;
}

h2 {
  border-left: 20px solid red;
  padding-left: 10px;
  margin-top: 30px;
}

p {
  margin-top: 20px;
}

img {
  margin: 20px auto;
  display: block;
}

.introduction {
  background: rgb(212, 217, 223);
  padding: 40px;
  font-size: 24px;
  font-weight: 300;
}

.distinction {
  color: white;
  background: rgb(87, 87, 87);
  line-height: 180%;
  padding: 3px 10px;
}
